@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(135deg, #020200, #3c14ed);
}

.header {
	min-height: 100vh;
	width: 100%;
	/* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png); */
	background-position: center;
	background-size: cover;

}

nav {
	display: flex;
	padding: 1% 2%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
	height: 100px;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.space {
	width: 100%;
	height: 80px;
}

.index-para {
	width: 100%;
	padding: 10px;
}

.nav-links ul li a {
	position: relative;
	text-decoration: none;
	color: #f2eded;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.nav-links ul li a::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	margin: auto;
	transition: 0.5s;
	left: 0;
	bottom: -10px;
}

.nav-links ul li :hover:after {
	width: 100%;
}

.text-box {
	width: 90%;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
	margin: 100px 0px 40px;
}

.text-box p {
	margin: 10px 0px 40px 50px;
	font-size: 14px;
	color: #ffffff;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

.container {
	margin: 30px;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image {
	background: #5f5778;
	position: relative;
	flex: 1;
	max-width: 460px;
	height: 300px;
	margin: 20px;
	overflow: hidden;
}

.image img {
	opacity: 0.8;
	position: relative;
	vertical-align: top;
	transition: 0.6s;
	height: 300px;
	opacity: 1;
}

.image:hover img {
	opacity: 0.2;
}

.image .details {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(246, 240, 240);
	width: 100%;
	height: 100%;
}

.image .details h2 {
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 30px;
	transition: 0.4s;
	color: #000000;
	transition-property: transform;
}

.image .details h2 span {
	font-weight: 900;
}

.image:hover .details h2 {
	transform: translateY(-30px);
}

.image .details p {
	margin: 30px 30px 30px 30px;
	padding-top: 100px;
	font-size: 18px;
	font-weight: 600;
	text-align: bottom;
	opacity: 0;
	transition: 0.6s;
	transition-property: opacity, transform;
}

.image:hover .details p {
	opacity: 1;
	transform: translateY(-40px);
}

.more {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	bottom: -60px;
	transition: 0.6s;
	transition-property: bottom;
}

.image:hover .more {
	bottom: 0;
}

.more .read-more {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.more .read-more span {
	font-weight: 900;
}

.more .icon-links i {
	color: #000;
	font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
	margin-right: 20px;
}

.collection {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

.latest-news {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.news-column {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	padding: 10px;
}

.news-column img {
	width: 100%;
	height: 300px;
	border-radius: 10px;
}

.news-column p {
	padding: 0;
}

.news-column h3 {
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.footer h4 {
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}

.icons {
	color: #0a0a0a;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0px;
}

.sub-header {
	height: 50vh;
	width: 100%;
	/* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/about.jpg); */
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}

.about-us {
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.about-col {
	flex-basis: 48%;
	padding: 30px 2px;
}

.about-col img {
	width: 100%
}

.about-col h1 {
	padding-top: 0;
}

.about-col p {
	padding: 15px 0 25px;
}

.red-btn {
	border: 1px solid #f44336;
	background: transparent;
	color: #f44336;
}

.red-btn:hover {
	color: #ffffff;
}

.contact {
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background:url('/images/contact.jpg'); */
}

.contact .content {
	max-width: 800px;
	text-align: center;
}

.contact .content h2 {
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}

.contact .content p {
	font-weight: 300;
	color: #fff;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container .contact-info {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container .contact-info .box {
	position: relative;
	padding: 20px;
	display: flex;
}

.container .contact-info .box .icon {
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	font-size: 22px;
}

.container .contact-info .box .text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

.container .contact-info .box .text h3 {
	font-weight: 500;
	color: #00bcd4;
}

.contact-form {
	width: 40%;
	padding: 40px;
	background: #ffffff;
}

.contact-form h2 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.contact-form .input-box {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.contact-form .input-box span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box textarea:valid~span {
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);

}

.contact-form .input-box input[type="submit"] {
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.contact-header {
	/* background-color: #000000; */
	width: 100%;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}

.reg-body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* background: url('/images/reg.jpg'); */
}

.reg-header {
	/* background: url('/images/reg.jpg'); */
}

.reg-container {
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
}

.reg-container h1 {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.reg-container h1::before {
	content: '';
	position: absolute;
	height: 3px;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.reg-container form .usr-details {
	display: flex;
	flex-wrap: wrap;
}

form .usr-details .input-box {
	margin: 10px 10px 12px 10px;
	width: calc(100% / 2 - 20px);
}

form .usr-details span {
	margin: 0 0 0 0;
}

.usr-details .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.usr-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.usr-details .input-box input:focus,
.usr-details .input-box input:valid {
	border-color: #9b59b6;
}

form .gender-details .gender-title {
	font-size: 20px;
	font-weight: 500;
}

form .gender-details .category {
	display: flex;
	margin: 14px 0;
	width: 80%;
	justify-content: space-between;
}

form .gender-details .category label {
	display: flex;

}

form .gender-details .category .dot {
	height: 18px;
	width: 18px;
	background: #d9d9d9;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
	transition: all 0.s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
	border-color: #d9d9d9;
	background: #9b59b6;
}

form input[type="radio"] {
	display: none;
}

form .button {
	height: 45px;
}

form .button input {
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
	background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.faq-sec {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.faq-container {
	width: 70%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 1.5rem;
	height: 80%;
}

.accordion-item {
	background: linear-gradient(135deg, #5935c5, #ac0aec);

	border-radius: .4rem;
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 0.1);
}

.accordion-link {
	font-size: 1.6rem;
	color: rgba(225, 225, 225, 0.8);
	text-decoration: none;
	background: linear-gradient(135deg, #5935c5, #ac0aec);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.accordion-link i {
	color: #e7d5ff;
	padding: .5rem;
}

.accordion-link .fa-minus {
	display: none;
}

.answer {
	max-height: 0;
	overflow: hidden;
	position: relative;
	background: linear-gradient(135deg, #431cb8, #38054b);
	color: rgba(255, 255, 255, .6);
	font-size: 1.4rem;
}

.answer::before {
	content: '';
	position: absolute;
	width: .6rem;
	height: 90%;
	background-color: #8fc460;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.answer p {
	color: rgba(255, 255, 255, .6);
	font-size: 1.4rem;
	padding: 2rem;
}

.accordion-item:target .answer {
	max-height: 20rem;
}

.accordion-item:target .accordion-link .fa-plus {
	display: none;
}

.accordion-item:target .accordion-link .fa-minus {
	display: block;
}


.gallery-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 40px 20px 0 20px;
}

.gallery-container .gallery-heading {
	width: 50%;
	padding-bottom: 50px;
    color: white;
}

.gallery-container .gallery-heading h3 {
	font-size: 3em;
	font-weight: bolder;
	padding-bottom: 10px;
	border-bottom: 3px solid rgb(246, 242, 242);
}

.gallery-container .gallery-heading h3 span {
	font-weight: 100;
}

.gallery-container .gallery-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gallery-container .gallery-box .gallery-dream {
	display: flex;
	flex-direction: column;
	width: 32.5%;
}

.gallery-container .gallery-box .gallery-dream img {
	width: 100%;
	padding-bottom: 15px;
	border-radius: 5px;
}

.gallery-container .gallery-btn {
	margin: 40px 0 70px 0;
	background: #222;
	padding: 15px 40px;
	border-radius: 5px;
}

.gallery-container .gallery-btn a {
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bolder;
	letter-spacing: 3px;
}